
    <nav class="navbar navbar-expand navbar-dark bg-dark" ng-controller="loginCtrl">
      <a class="navbar-brand" href="#">Porucite kod nas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02"> 
         <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Pocetna<span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item" ng-if="gost">
            <a class="nav-link" href="#/mojNalog" >Moj nalog</a>
          </li>
              
        <li class="nav-item dropdown" ng-if="admin">
        <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Izmena
        </a>
        
        <div id="izmena" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/restorani">Restorani</a>
          <a class="dropdown-item" href="#/artikli">Artikala</a>
          <a class="dropdown-item" href="#/vozila">Vozila</a>
          <a class="dropdown-item" href="#/porudzbine">Porudzbine</a>
          <a class="dropdown-item" href="#/korisnici">Korisnici</a>
        </div>
      </li>	
      
      	  <li class="nav-item" ng-if="dostavljac">
            <a class="nav-link" href="#/porudzbineDostavljac">Porudzbine</a>
          </li>
          <li>
              <form class="form-inline my-2 my-md-0">
          	  <input class="form-control" type="text" placeholder="Pronadji">
       		  </form>
          </li>
          <li><a class="nav-link"  ng-if="!gost" href="#/mojNalog" ng-click="logout()">Izloguj se</a></li>
        </ul>
                
      </div>
    </nav>
	
	<div ng-controller="restoraniCtrl" style="padding-left:3%;padding-top:3%;padding-right:3%">	    
	<div class="row">
	<div class="col-md-2">
		<p>
		  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#domacaID" aria-expanded="false" aria-controls="collapseExample">
		    Domaca kuhinja
		  </button>
		</p>
		<div class="collapse" id="domacaID">
		  <div class="card card-body">
		  	<a href="" ng-repeat="r in domaca" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>  	
		 </div>
		</div>
		
		<p>
		  	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rostiljID" aria-expanded="false" aria-controls="collapseExample">
		    Rostilj
		  	</button>
	   </p>
		<div class="collapse" id="rostiljID">
		  <div class="card card-body">
		  	<a href="" ng-repeat="r in rostilj" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>
		  </div>
		</div>
	
	
	<p>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kineskiID" aria-expanded="false" aria-controls="collapseExample">
	    Kineski restoran
	  </button>
	</p>
	<div class="collapse" id="kineskiID">
	  <div class="card card-body">
	  <a href="" ng-repeat="r in kineski" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>
	 </div>
	</div>
	
	<p>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#indijskiID" aria-expanded="false" aria-controls="collapseExample">
	    Indijski restoran
	  </button>
	</p>
	<div class="collapse" id="indijskiID">
	  <div class="card card-body">
	  <a href="" ng-repeat="r in indijski" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>
	 </div>
	</div>
	
	<p>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#poslasticarnicaID" aria-expanded="false" aria-controls="collapseExample">
	    Poslasticarnica
	  </button>
	</p>
	<div class="collapse" id="poslasticarnicaID">
	  <div class="card card-body">
	  <a href="" ng-repeat="r in poslastic" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>
	 </div>
	</div>
	
	<p>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#picerijaID" aria-expanded="false" aria-controls="collapseExample">
	    Picerija
	  </button>
	</p>
	<div class="collapse" id="picerijaID">
	  <div class="card card-body">
	  <a href="" ng-repeat="r in picer" ng-click="prikazSelektRestorana(r)">{{r.naziv}}</a>
	 </div>
	</div>
	</div>
	<div class="col-md-7 txt" ng-show="prikaziPopularno">
	
		<h2>Najpopularnija jela i pića</h2>
		
		<div class="card" style="width: 18rem;"  ng-repeat="popArt in popularno">
		 
			  <div class="card-body">
			  
			  <div class="container">
			  	
			  <h3><a href="" class="txt card-title" ng-click="prikaziModal(popArt)" data-toggle="modal" data-target="#dodavanjeUKorpuModalPopular">{{popArt.naziv}}</a></h3>
					
			   <p class="card-text">
			    Cena: {{popArt.jedinicnaCena}}.0 RSD<br>
			    Tip: {{popArt.tip}}<br>
			    {{popArt.opis}}
			    </p>
			  </div>
			  </div>
			</div>
	</div>

	<div class="col-md-7 txt" ng-show="prikaziSelektRestoran" ng-controller="loginCtrl">
	
		<h1 style="cursor:pointer">Restoran {{r.naziv}}</h1>
		<p style="cursor:pointer">Adresa: {{r.adresa}}</p>
	
	 <div class="card" style="width: 18rem;"  ng-repeat="artikal in sviArtikli">
		 
			  <div class="card-body">
			  
			  <div class="container">
			  	
			  <h3><a href="" class="txt card-title" ng-click="prikaziModal(artikal)" data-toggle="modal" data-target="#dodavanjeUKorpuModal">{{artikal.naziv}}</a></h3>
					
			  <div class="modal fade" id="dodavanjeUKorpuModal" role="dialog" ng-if="kupac||gost">
			    <div class="modal-dialog">
			   
				      <div class="modal-content" id="korpaModal">
				        <div class="modal-header" >
				          <h4 class="modal-title">{{selArtikal.naziv}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{selArtikal.jedinicnaCena}}.00 RSD</span></h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        
				        <div class="modal-body">
				          <table>
				       		<tr>
				       			<td>Kolicina:</td>
				       			<td><input type="number" min="0" id="kolicina"/></td>
				       		</tr>
				       		<tr>
				       			<td>Napomena(nije obavezno):</td>
				       			<td><input type="text" style="width:10em" id="napomena"/></td>
				       		</tr>
			
						  </table>
				        </div>        
				        <div class="modal-footer"> 
				        <button type="button" class="btn" data-dismiss="modal" ng-click="dodajUKorpu()" ng-if="kupac">Dodaj u korpu</button>
				        <a href="" ng-if="gost" ng-click="linkNaPrijavu()"><font size="6">Prijavite se</font></a>
				        </div>
				      </div>
				      
				    </div>
			  </div>
			  
			   <p class="card-text">
			    Cena: {{artikal.jedinicnaCena}}.0 RSD<br>
			    Tip: {{artikal.tip}}<br>
			    {{artikal.opis}}
			    </p>
			  </div>
			  </div>
			</div>
	
	</div>
	
	<div class="col-md-3 txt" ng-controller="loginCtrl">
		<div ng-if="kupac">
			<h3>Korpa</h3>
			<table>
	 
			  		<tr ng-repeat="stavka in korpa">
			  			<td>{{stavka.artikal}}&nbsp;&nbsp;x {{stavka.kolicina}} = {{stavka.cena}} RSD</td>  						  			
			  		</tr>
			  		<tr>
			  			<td>Ukupno: {{porudzbina.ukupanIznos}} RSD</td>
			  			<td><button type="button" class="btn" ng-click="naruci()" ng-show="korpaImaSadrzaj">Naruci</button></td>		 	
			  		</tr>
	  			</table>	
			
		</div>
	</div>

	</div>
	</div>	
		
		
		    
    
	